<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>KARMINI</title>
</head>
<body>
    <header>
        <a href="#" class="hef"><img src="images/logo.png"></a>
        <h2 class="tit">Vitrine</h2>
    </header>
    
    <section class="product-grid">
        <% products.forEach(product => { %>
            <button onclick="window.location.href = 'commander';"><div class="product">
            <img src="/uploads/<%= product.image %>" alt="<%= product.discrip %>">
            <h2><%= product.nom %></h2>
            <h5><%= product.discrip %></h5>
            <p>Reference: <%= product.reff %></p>
            <p>Prix: <%= product.prix %> DT</p>
          </div></button>
        <% }); %>
      </section>
</body>
</html>